/* Default style for http://MattRC7.github.io */

body {
    background-color: rgb(186,220,255);
    width: 100%;
    padding: 4px 24px 4px 4px;
    font-family: "Palatino Linotype",
	"Book Antiqua", Palatino, serif;
    font-size: 100%;
}

h1, h2, h3 {
    background-color: rgb(256,256,256);
    border-style: none none solid none;
    border-width: 4px;
    border-color: rgb(96, 128, 255);
    margin: 4px;
    padding: 0px 6px;
}

h1 {
    padding: 0 10%;
    float: left;
}

h3 {
    background-color: inherit;
    border-width: 2px;
}

p {
    padding: 4px;
    margin: 4px;
}

#handle {
    font-family: "Times New Roman", Serif;
    font-weight: bold;
    font-size: 2em;
}

img {
    float: left;
    margin: 4px;
}

div.floater {
    max-width: 50%;
    float: left;
}

