/* Defines the style and positioning of the menu on the website */

.menu {
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(96, 128, 255);
    float: left;
    clear: left;
    padding: 2px 2px 50%;
    margin: 4px 8px 4px 4px;
}

ul.menu {
    list-style-type: none;
    list-style-position: inside;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

.menu a:link {
    font-size: 1.5em;
    font-weight: bold;
    margin: 4px;
    padding: 0px;
}

.menu a:hover {
    background-color: black;
    color: white;
}

.menu a:active {
    background-color: white;
    color: black;
}